<div class="transaction-container">
    <h3>Recent Transactions</h3>

    <table class="dark-table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            @for (item of transactions; track item.id) {
            <tr>
                <td>{{ item.date }}</td>
                <td>{{ item.description }}</td>
                <td [style.color]="item.type === 'INCOME' ? '#00ff88' : '#ef4444'">
                    {{ item.type === 'INCOME' ? '+' : '-' }} ₹{{ item.amount }}
                </td>
                <td><span class="badge">{{ item.type }}</span></td>
            </tr>
            } @empty {
            <tr>
                <td colspan="4" style="text-align: center; padding: 2rem;">No transactions found. Start adding some!
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>