<div class="login-wrapper">
  <div class="login-card">
<div class="logo">TrackWise💸</div>
<h3>Welcome back</h3>
<p>Please login to your account</p>

<form [formGroup]="loginForm" (ngSubmit)="onLogin()">

    <label>Username</label>
    <input type="text" formControlName="username" placeholder="name goes here">

    <div class="error" *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.invalid">
        Username is required
    </div>

    <label>Password</label>
    <input type="password" formControlName="password" placeholder="password goes here">
    <div class="error" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
        Password is required
    </div>

    <button type="submit" class="login-btn" [disabled]="loginForm.invalid">
        Login
    </button>
</form>

<div class="register-link-container">
    <p>Don't have an account?</p>
    <a routerLink="/register" class="register-link">Create an account</a>
</div>
</div>
</div>